@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/concert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.overlay{
    top:0;
    left:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}
.welcome h1, .wrap-heading h1{
    font-size: 5em;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Monoton', sans-serif;
    letter-spacing: 1rem;
    font-weight: lighter;
    z-index: 3;
}

.welcome span{
    font-family: "Lucida Console", sans-serif;
    font-size: 1em;
    font-weight: 300;
    z-index: 3;
}
.wrap-heading{
    display: none;
    pointer-events: none;
}
.hamburger{
    cursor: pointer;
    z-index: 5;
    width: 80px;
    height: 100px;
    padding: 1em;
    position: absolute;
    left: 100%;
    top:0;
    transform: translate(-100%, -0%);
}

.line{
    z-index: 5;
    width: 100%;
    border-color: white;
    border-style: solid;
    margin-top: 15%;
}


.navLinks{
    background-color: white;
    z-index: 4;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    clip-path: circle(0px at 90% -10%);
    transition: all 0.7s ease-out;
}
.navLinks.open{
    clip-path: circle(150vw at 90% -10%);
    pointer-events: all;
}
.line.clicked{
    border-color: black;
}
.line.clicked:nth-child(1){
    transform: translate(0px, 10px) rotateZ(135deg);
    transition: all 1s ease;
}
.line.clicked:nth-child(2){
    transition: all 1s ease;
    display: none;
}
.line.clicked:nth-child(3){
    transform : rotateZ(45deg);
    transition: all 1s ease;
}
.navLinks li{
    opacity: 0;
    padding: 1.5em;
    display: block;
}
.navLinks li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}
.navLinks li:nth-child(2){
    transition: all 0.5s ease 0.4s;
}
.navLinks li:nth-child(3){
    transition: all 0.5s ease 0.6s;
}
.navLinks li:nth-child(4){
    transition: all 0.5s ease 0.8s
}
li.fade{
    opacity: 1;
}
.navLinks li a{
    cursor: pointer;
    color: black;
    font-size: 2.5em;
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width: 740px){
    .welcome h1{
        display: none;
    }
    .wrap-heading{
        pointer-events: all;
        display: flex;
        flex-direction: column;

    }
    .wrap-heading h1{
        display: inline-block;
        font-size: 3em;
    }
    .wrap-heading{
        padding: 1em;
    }
    .welcome {
        align-items: flex-start;
    }
    .welcome span{
        padding: 1em;
        font-size: 14px;
    }
    .navLinks.open{
        clip-path: circle(150vh at 90% -10%);
        pointer-events: all;
    }

}