/* github.com/amaan-ahmad */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



body{
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          scroll-behavior: smooth; 

}

html {
  overflow-x: hidden;
  /* scroll-behavior: smooth; */

  /* -webkit-overflow-scrolling: touch;*/
}
.p-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 12; */
  flex-direction: column;
  /* height: 100vh; */
  height: 100%;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}
/* .sticky-register{
  bottom: 0;
  left:0;
  position: fixed;
  z-index: 1000;
  padding: 1em;
  border-style: solid;
  background-color: whitesmoke;
  color : black;
  width: 25px;
  word-wrap: break-word;
  padding:0.5em;
  font-weight: 700;
} */

.flip-card {
  background-color: transparent;
  width: 50%;
  height: 400px;
  perspective: 1000px;
}

.flip-card-front img {
  width: auto;
  height: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
}

.flip-card-front {
  color: black;
  display: flex;
  flex-direction: row;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-caption {
  align-items: center;
  align-self: center;
  padding: 1em;
  white-space: nowrap;
  width: auto;
  color: white;
  background-color: transparent;
}
.star-tiles {
  width: fit-content;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: -webkit-fill-available;
}

/* =========================== */
/*          glimpse            */
/* =========================== */

.root-gl {
  display: flex;
  flex-direction: column;
}

.root-gl .r1 {
  align-self: flex-end;
}
.root-gl .r2 {
  align-self: flex-start;
}

.root-gl .r1,
.root-gl .r2 {
  position: relative;
  display: flex;
  flex-direction: row;
}

.elem img {
  width: 20em;
  height: 20em;
}

.elem {
  color: white;
  font-size: medium;
  margin: 0 1em;
}

.elem p{
  font-size : 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.past-elements{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.past-el p{
  font-size: 1.5em;
}

.past-el{
  margin: 1em 0;
}
.past-el h3{
  margin: 0;
}
.gossip-head{
  background-color: black;
  color: whitesmoke;
  width: auto;
  height: fit-content;
  align-content: center;
} 
.gossip-head h1{
  padding: 1em 0; 
  margin: 0;
  text-align: center;
}
#sidebarcontent a {
  text-decoration: none;
  color: wheat;
}

#one p {
  text-align: justify;
  font-size: 1em;
}


/* .oc-root .parent .child1{ 

} */


@media screen and (max-width: 800px) {
  .root-gl .r1 {
    align-self: center !important;
  }
  .root-gl .r2 {
    align-self: center !important;
  }
  .root-gl .r1,
  .root-gl .r2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .elem img {
    width: 40vw;
    height: auto;
  }
  .elem{
    margin: 0;
  }

  .four, .f{
    flex-direction: column;
  }

  .f > div > div > img, #divToShow > div > div > img{
    width: 50vw;
    height: auto;
  }
  .f > div > div > #overlay, #divToShow > div > div > #overlay{
    /* height : 0; */
    width : 50vw;
  }
  #divToShow{
    flex-direction: column;
  }

  .f , #divToShow {
    align-items: center;
  }

  .past-elements{
    flex-direction: column;
    align-items: left;
  }

  .past-el p{
    align-items: flex-start;
  }
  .maincontent{
    flex-direction: column;
  }
  
  .banner-text span h2{
    font-size: 3em;
  }
  .banner-text h3{
    font-size: 0.7em;
  }
  #clockdiv{
    font-size: 1.2em;
  }
  #clockdiv > div.smalltext{
    font-size: small;
  }
  .parent{
    flex-direction: column;
  }
}
/* -------------- */

.nav-area .hamburger{
  z-index: 1000;
}


.f > div > div , #divToShow > div > div{
  height : auto;
  width : auto;
}

.logo span{
  display: none;
}
.footcontent a{
  text-decoration: none;
  color: white;
}
/* 
p#contact1 span.oc{
  font-weight: bolder;
} */

.grab div img{
  height: 60px;
  width: 60px;
}
@media screen and (max-width: 800px) {

  .two {
    align-items: center;
    justify-content: center;
  }
  .star-tiles {
    flex-direction: column !important;
    align-items: center;
  }
  .flip-card-front {
    flex-direction: column-reverse !important;
  }
  .flip-card {
    margin-top: 30vh;
    width: 100%;
    /* height: 50vh; */
    margin-bottom: 5vh;
  }
  .flip-card-front img{
    height: auto;
    width: auto;
  }
  .subtwo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #content,
  #content1 {
    width: 100vw;
  }

  .sub1,
  .sub {
    align-content: center;
  }
  .subs1 img {
    width: 100%;
  }

  #btnSeeMore_1, #btnSeeMore_2{
    align-self: center;
  }
  h1.about_ani, h1.past_ani, h1.mightSay_ani, h1.highlights_ani, h1.glimpses_ani, h1.stats_ani{
    overflow-wrap: break-word;
    font-size: 2em !important;
    text-align: center;
    padding: 1em;
  }
}
