body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
.fix {
  clear: both;
  overflow: hidden;
}
header {
  overflow: hidden;
  height: 100vh;
  top: 0;
}
.vid-bg {
  opacity: 1;
  min-width: 100%;
  z-index: -1;
}

.logo {
  /* padding: 0.5em 0; */
  height:10px;
  width: 10px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 3;
}
.logo span {
  color: #f5bb00;
}
.menu-area {
  float: right;
  list-style: none;
  margin: 20px;
}
.menu-area li {
  display: inline-block;
  margin: 0 5px;
}
.menu-area li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
}
.menu-area li.active a {
  color: #f5bb00;
}
.menu-area li a:hover {
  color: #f5bb00;
}
/* .banner-text
{
    position: absolute;
    top: 30%;
    text-align: center;
    left: 35%;
    
} */

.banner-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  justify-content: center;
  font-family: 'Montserrat', serif;

  align-items: center;
}
.banner-text h2 {
  color: #fff;
  font-size: 80px;
  margin: 0;
  text-shadow: 5px 5px black;
}
.banner-text h2 span {
  color: #fff;
  text-shadow: 5px 5px black;
}
.banner-text h3 {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}
.btn {
  display: inline-block;
  margin-top: 5%;
  background: transparent;
  border: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 1em;
  color: #fff;
  border-radius: 20px;
  width: fit-content;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 2px;
  background-color: whitesmoke;
  color: black;
  transition: 1s;
}
/* menu starts */

/* 

#hamburger{

    position:sticky;
    margin-top:100px;
    top:135px;
    left:50px;
    width:30px;
    height:1px;
    background-color:#fff;
    display: block;
    transform-origin: center;
    transition:0.5s ease-in-out;
}
 */

.hamburger {
  z-index: 25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: auto;
  padding: 0.5em;
  position: absolute;
  right: 0;
}

.line-n {
  border: white 0.09rem solid;
  margin: 0.19rem 0;
  width: 1.5em;
  height: auto;
}
/* Dont change it into CROSS */
.line-n.clicked:nth-child(1) {
  transform: rotate(360deg);
  transition: all 0.7s ease;
}
.line-n.clicked:nth-child(2) {
  transform: rotate(360deg);
  transition: all 0.7s ease;
  /* display: none; */
}
.line-n.clicked:nth-child(3) {
  transform: rotateZ(360deg);
  transition: all 0.7s ease;
}

/* menu ends */

/* sidebar css */
.con:hover {
  background-color: rgba(118, 41, 28, 0.925);
  border-radius: 6px;
  transition: 1s;
  letter-spacing: 3px;
}
.subo:hover {
  background-color: red;
  letter-spacing: 2px;
  border-radius: 6px;
  transition: 2s;
}

.grab {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.grab:hover {
  cursor: pointer;
}
.menu {
  position: fixed;
  left: 94%;
  bottom: 92.5%;
  max-width: 9px;
  z-index: 3;
}

#iconsy {
  height: 22px;
  width: 22px;
  display: flex;
  flex: vertical;
  position: relative;
  margin-left: 3vw;
  margin-bottom: 5px;
  z-index: 1;
  text-align: center;
}

#iconsy:hover {
  background-color: brown;
  height: 26px;
  width: 26px;
  display: flex;
  flex: vertical;
  position: relative;
  margin-left: 3vw;
  margin-bottom: 5px;
  z-index: 1;
  text-align: center;
}

#sticky.active {
  position: relative;
  left: 2000px;
  background-color: brown;
}
#sidebar {
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  flex-direction: column; 
   /* flex-direction: row; */
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  color: wheat;
  z-index: 25;
  justify-content: center;
  align-items: center;
  position: absolute;
  left:100%;
  transition: all 420ms cubic-bezier(0.895, 0.03, 0.685, 0.22) ease-in-out;
  /* top: 0;
  transition-duration: 1s;
  transition-property: aja; */
}
#sidebarcontent {
  margin:0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.con{
  padding: 10%;
  width: fit-content;
  white-space: nowrap;
}

#sidebar.active {
  z-index: 1;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  position: fixed;

}


@keyframes aja {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#sidebar ul li {
  list-style: none;
  position: relative;

}

#sidebar ul li :hover {
  background-color: red;
}
.line {
  position: relative;
  left: 59%;
  width: 2px;
  height: 400px;
  background-color: wheat;
  margin-top: 60px;
  border-left: 1px, solid, white;
}
.line1 {
  border-radius: 2px;
  position: relative;
  left: 5%;
  padding-left: 3px;
  padding-right: 1px;
  color: whitesmoke;
  width: 13px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.iconslast1 {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex: horizontal;
  justify-content: space-between;

  z-index: 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* sidebar css ends */

/* loader begin */

.loader-bg {
  position: fixed;
  z-index: 99999;
  background: black;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 100vw;
  height: 100vh;
  justify-self: center;
  display: flex;
  justify-content: center;
}

.loader p{
  justify-self: center;
  align-self: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  position:fixed;
  color:orangered
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid orangered;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  align-self: center;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* loader ends */

/* flipper */

#card {
  position: relative;
  height: auto;
  width: 100vw;
  perspective: 500px;
}

#content {
  position: relative;
  height: 70vh;
  width: 48vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

#content:hover {
  position: relative;

  height: 70vh;
  width: 48vw;
  perspective: 200px;
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

#content:hover .sub {
  display: none;
}
.sub {
  position: relative;
  left: 25vw;
  top: -55vh;
  height: 55vh;
  width: 23vw;
  background-color: black;
}
.sub h1 {
  color: whitesmoke;
  font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans",
    sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: fixed;
  margin-left: 2vw;
  top: 5vh;
}
.sub h2 {
  color: whitesmoke;
  font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans",
    sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  margin-left: 2vw;
  top: 20vh;
}
.sub h3 {
  color: whitesmoke;
  font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans",
    sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  margin-left: 2vw;
  top: 25vh;
}

.back {
  left: 2vw;
  top: 1vh;
  position: relative;
  height: 55vh;
  width: 23vw;
  background: white;
  line-height: 300px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.back {
  margin-top: -54.5vh;
  margin-right: -23vw;
  background: black;
  color: white;
  transform: rotateY(180deg);
}

#content1 {
  position: relative;
  height: 70vh;
  width: 48vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

#content1:hover {
  perspective: 200px;
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
#content1:hover .subs2 img {
  display: none;
}

#content1:hover .sub1 {
  display: none;
}
.sub1 {
  position: relative;
  left: 25vw;
  top: -55vh;
  height: 55vh;
  width: 23vw;
  background-color: black;
}
.sub1 h1 {
  color: whitesmoke;
  font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans",
    sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: fixed;
  margin-left: 2vw;
  top: 5vh;
}
.sub1 h2 {
  color: whitesmoke;
  font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans",
    sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  margin-left: 2vw;
  top: 20vh;
}
.sub1 h3 {
  color: whitesmoke;
  font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans",
    sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  margin-left: 2vw;
  top: 25vh;
}

.back1 {
  left: 2vw;
  top: 1vh;
  position: relative;
  height: 55vh;
  width: 23vw;
  background: white;
  line-height: 300px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.back1 {
  margin-top: -42vh;
  margin-right: -200vw;
  background: black;
  color: white;
  transform: rotateY(180deg);
}

.subs2 {
  position: relative;
  left: 0vw;
  top: 14vh;

  height: 55vh;
  width: 23vw;
}

.subs2 img {
  background-image: url("OLLY.jpeg");
  height: 55vh;
  width: 23vw;
  background-repeat: no-repeat;
}

/* end */
#overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  opacity: 0.3;
  overflow: hidden;
  width: auto;
  height: 0;
  transition: 0.5s ease;
}

.about_ani {
  font-weight: 700;
  font-size: 2rem;
}

.about_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.past_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.past_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.glimpses_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.glimpses_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.highlights_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.highlights_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.stats_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.stats_ani .letter {
  display: inline-block;
  line-height: 1em;
}

.mightSay_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.mightSay_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.statsNo1_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.statsNo1_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.statsNo2_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.statsNo2_ani .letter {
  display: inline-block;
  line-height: 1em;
}
.statsNo3_ani {
  font-weight: 900;
  font-size: 3.5em;
}

.statsNo3_ani .letter {
  display: inline-block;
  line-height: 1em;
}
#btnSeeMore_1 , #btnSeeMore_2{
  height: fit-content;
  padding: 0.7em;
  width: fit-content;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 6px 5px 10px whitesmoke;
  background-color: black;
  color: white;
  margin:1em 0;

}
