body{
    background-color: black;
    height: 80%;
}




h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
    
}

.parent{
    display: flex;
   
    width: 100%;
    height: fit-content;

}
.child1{
   
    width: 50%;

}
.gchild{
    
    height: fit-content;
    display: flex;
    margin-top: 4%;
    
   

}
.ggchild1{
    width:40%;
}
.ggchild2{
    width: 60%;

}
.ggchild1 img{
      
    width: 80%;
    height:100%;
}
.ggchild2 a p {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ggchild2 p{
    font-size: 1em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.parent2{
    margin-top: 10%;
    height: 500px;
    width: 100%;
 
    
}
.c1{
    height: 40px;
   
}
.c2{
    height: 200px;
   
    display: flex;
}
.cc1{
    width: 20%;
   
}
.cc2{
    width: 80%;
    
}
.ccc1{
    height: 36%;
   
    display: flex;
}
.bi img{
    width:100%;
    height: 100%;
}
.bi1 p{
    font-size: 30px;
    margin-left: 5%;
    color: white;
}
a{
    text-decoration: none;
    }

a:hover{
    text-decoration: underline;
    color:orangered;
}
h2{
    text-align: center;
    color: white;
    text-decoration:  underline red;
    
}


@media screen and (max-width: 800px){

    .parent{
        flex-direction: column;
    }

    .child1{
        width: 100%;
    }

}