@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body{
    background-image: url('images/back.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


.overlay{
    top:0;
    left: 0;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
    
}

.parent{
    display: flex;
   
    width: 100%;
    height: fit-content;

}
.child1{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.gchild{
    
    height: fit-content;
    display: flex;
    margin-top: 4%;
    /* height: 40vh; */
}
.ggchild1{
    width:40%;
}
.ggchild2{
    width: 60%;

}
.ggchild1 img{
      
    width: 80%;
    height:100%;
}
.ggchild2 p, .oc .about-oc .name{
    font-size: 2.5em;
    font-family: 'Titillium Web','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.ggchild2 p:nth-child(2), .oc .about-oc .role{
    font-size: 1.2em;
    text-transform: capitalize;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.parent2{
    margin-top: 15%;
    height: fit-content;
    width: -webkit-fill-available;

}
.c1{
    height: 40px;
   
}
.c2{
    height: 420px;
   
    display: flex;
}
.cc1{
    width: 20%;
   
}
.cc2{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.ccc1{
    height: fit-content;
    display: flex;
}
.bi{
    width: fit-content;
}
.bi img{
    width:30%;
}
.bi1 p{
    font-size: 30px;
    margin-left: 5%;
    color: white;
}
a{
    text-decoration: none;
    color: whitesmoke;
    }

a:hover{
    text-decoration: underline;
    color: yellow;
}
h2{
    text-align: center;
    color: white;
    
}

.oc{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.oc img{
    padding: 1em;
    width: 30%;
    height: auto;
}


@media screen and (max-width: 800px){
    .parent{
        flex-direction: column;
    }
    .child1{
        width: 100%;
    }
    .oc{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .oc img { 
        padding: 0;
    }

    .cc2 { 
        flex-direction: column;
    }
}